# Виртуальное окружение
venv/
ENV/
env/

# Python кэш
__pycache__/
*.py[cod]
*$py.class

# Uvicorn / лог файлы (опционально)
*.log

# IDE файлы (если используешь PyCharm, VSCode)
.idea/
.vscode/

# MacOS файлы
.DS_Store

.env

latest_silero_models.yml
channels_data/
data/
wav_folder/